<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="contenedor-card card d-flex flex-column justify-content-center align-items-center">
    <h1 class="contenedor-card-numero text-white text-center">{{contador}}</h1>
  <hr />
  <div class="contenedor-card-botones d-flex flex-column align-items-center justify-content-center">
    <app-button-add [contador]="contador" (onAdd)="handleAdd( $event)"></app-button-add>
    <app-button-rest [contador]="contador" (onRest)="handleReset( $event)"></app-button-rest>
    <app-button-reset [contador]="contador" (onReset)="handleReset( $event)"></app-button-reset>
  </div>

  </div>
</div>


